@import "tailwindcss/tailwind";
@import "tailwindcss/components";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.placeholder-uppercase::placeholder {
  text-transform: uppercase;
}

.bg-white-to-transparent {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.hover-icon-wrapper .icon-active {
  opacity: 0;
}

.hover-icon-wrapper:hover .icon-active {
  opacity: 1;
}

.active-icon-wrapper .icon-active {
  opacity: 1;
}
